<% data.options.forEach(function(option) { %>
<div class="column collapsed">

  <div class="photo-block">
    <img src="./assets/photos/<%= option.data.photo %>">
  </div>

  <h2>
    <%= option.name %>
  </h2>

  <button class="show-more" aria-hidden="true">More information &raquo;</button>
  
  <div class="more-container"><div class="more">
    <ul class="offerings">

    </ul>
    
    <ul class="description">
      <li> <%= option.data.unique %>
    </ul>
  </div></div>

  <% if (data.active) { %>
  <button class="vote" value="<%= option.name %>" data-index="<%= data.index %>">Vote</button>
  <% } %>

  <% if (data.winner == option.name) { %>
    <div class="winner">&star; Winner &star;</div>
  <% } %>

</div>
<% }); %>