<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <meta property="og:image" content="https://projects.seattletimes.com/2019/brewery-battle/assets/social.jpg" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&display=swap" rel="stylesheet"> 
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>
    <%= t.include("partials/_gtm.html") %>

    <header class="splash">
      <h1>Brewery Battle</h1>
      <img src="./assets/Beer-Bracket-R1.jpg">
    </header>

    <main class="bracket">
      <div class="byline">
        By Amy Wong, Stefanie Loh, Emily M. Eng and Jennifer Luxton | The Seattle Times
      </div>
      <div class="intro">
        <p>
          Seattle loves beer and is known for its ever increasing number of breweries. With Oktoberfest around the corner, we wanted to find out what Seattle’s favorite brewery is.
 <p>
          We received almost 2,000 submissions championing 150 breweries during the nomination process. We narrowed it down to 32, based on the number of submissions and with the help of our food and drink writer Tan Vinh. We’ve put together miniprofiles of each brewery along with some fun facts. Now happy voting and may your favorite brewery prevail.
      </div>

      <nav class="choose-round">
        <ul>
          <% grunt.data.bracket.rounds.forEach(function(round, i) { %>
          <li>
            <input
              <% if (round.active) { %>
              checked="checked"
              <% } %>
              type="radio"
              class="a11y-hidden"
              name="round-selection"
              value="<%= round.id %>"
              id="<%= round.id %>"
              <% if (!round.active && !round.past) { %>
              disabled="disabled"
              <% } %>
            >
            <label for="<%= round.id %>">
              <div class="name"><%= round.name %></div>
              <div class="date"><%= round.dates %></div>  
            </label>
          <% }) %>
        </ul>
      </nav>
      <div hidden class="svg-templates">
      </div>
      
      <div class="actually" aria-live="polite">
        <div class="selected-matchup constrained" tabindex="-1"></div>
        <div class="round-matchups constrained"></div>
      </div>
      <div class="burger-fact"></div>

      <%= t.include("partials/_dontMiss.html", { data: json.recirc }) %>
    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.bracketData = <%= JSON.stringify(grunt.data.bracket) %>;
window.candidateData = <%= JSON.stringify(json.candidates) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
