<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Titan+One" rel="stylesheet">
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <header class="splash">
      <h1>The Great Seattle Uniform Bracket</h1>
      <img src="./assets/header.jpg">
    </header>

    <main class="bracket">

      <nav class="choose-round">
        <ul>
          <% grunt.data.bracket.rounds.forEach(function(round, i) { %>
          <li>
            <input
              <% if (round.active) { %>
              checked="checked"
              <% } %>
              type="radio"
              class="a11y-hidden"
              name="round-selection"
              value="<%= round.id %>"
              id="<%= round.id %>"
              <% if (!round.active && !round.past) { %>
              disabled="disabled"
              <% } %>
            >
            <label for="<%= round.id %>">
              <div class="name"><%= round.name %></div>
              <div class="date"><%= round.dates %></div>  
            </label>
          <% }) %>
        </ul>
      </nav>
      <div hidden class="svg-templates">
      </div>
      
      <div class="actually">
        <div class="selected-matchup constrained amnesia"></div>
        <div class="round-matchups constrained"></div>
      </div>
      <div class="burger-fact"></div>

      <%= t.include("partials/_dontMiss.html", { data: json.recirc }) %>
    </main>

    <%= t.include("partials/_navBottom.html") %>

    <script>
window.bracketData = <%= JSON.stringify(grunt.data.bracket) %>;
window.candidateData = <%= JSON.stringify(json.candidates) %>;
    </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_analytics.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
